{% extends "base.html" %}

{% load cms_tags %}
{% load i18n thumbnail %}

{% block title %} ЗАО ИФК "Техник" {% endblock %}

{% block mainnav %}

<!-- <div style="font-size: 1.4em;line-height:5em;text-align:right;width:99%">{{ request.portal.slogan }}</div> -->

								<!-- if menu on index --><div id="menu_on_index">&nbsp;</div><!-- /if menu on index -->
								<div id="menu">
									<table>
										<tr>
											{% show_menu 1 1 %}
										</tr>
									</table>
								</div>
{% endblock %}

{% block content %}
<table class="w100"><tr>
										<td valign="top">
{% placeholder "content" %}
										</td>
										<td valign="top">
											<!-- INFO MODULE -->
											<div id="info_module">

												<div class="prelat1p">
													<div class="but_prev"><a href="javascript:;" onClick="slideSwitchPrev()"><img src="{{ MEDIA_URL }}/i/but_prev_active.jpg" width="34" height="34"></a></div>
													<div class="but_next"><a href="javascript:;" onClick="slideSwitch()"><img src="{{ MEDIA_URL }}/i/but_next_active.jpg" width="34" height="34"></a></div>
												</div>
												<div align="center">
													<div class="img"><img src="{{ MEDIA_URL }}/i/info_module_img.jpg"></div>
	
										<div class="text" style="width: 250px;">
<div id="slideshow">
  {% autoescape off %}
  {% for a in advantages %}
  <div class="{% if forloop.first %} active {% endif %}" >{{ a.body }}</div>
  {% endfor %}
  {% endautoescape %}
</div>
														<div class="endblock">&nbsp;</div>
													</div>
												</div>
											</div>
											<!-- /INFO MODULE -->
										</td>
									</tr>
								</table>
								
								<hr>

								<div class="title_with_left_border"><a href="/news/">Новости, события</a></div>
								
								<table class="w100">
									<tr>
					{% for n in news|slice:":2" %}
										<td valign="top">
											<div class="news_img"><img src="{% thumbnail n.photo.name 80x80 upscale %}" width="80" height="80"></div>
										</td>
										<td valign="top" class="w50">
											<div class="news_one">
												<div class="date"><span>{{ n.date|date }}</span></div>
												<div class="title"><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></div>
											</div>

										</td>
					{% endfor %}
									</tr>
									<tr>
					{% for n in news|slice:"2:4" %}
										<td valign="top">
											<div class="news_img"><img src="{% thumbnail n.photo.name 80x80 upscale %}" width="80" height="80"></div>
										</td>
										<td valign="top" class="w50">
											<div class="news_one">
												<div class="date"><span>{{ n.date|date }}</span></div>
												<div class="title"><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></div>
											</div>

										</td>
					{% endfor %}
									</tr>
								</table>
								
							</div>
							<!-- /COL CENTER -->
{% endblock %}

