{% extends "base.html" %}

{% load thumbnail %}

{% block content %}

<div id="body"><br/>
  
  <div style="float: left"><a href="{% url news_index %}">Все новости</a></div><div style="float:right"><a href="/news/pressmap/">Pressmap</a></div><br/><br/>
  
{% autoescape off %}
  <div style="width:90%;clear:both">
     <img style="float:left; margin:0.4em; margin-top:0;" src="{% thumbnail obj.photo.name 160x160 upscale %}"/>
    <div style="margin-left:170px;"><span style="font-size:0.8em">{{ obj.date|date }}</span><br/><b>{{ obj.title }}</b> <br/> <i>{{ obj.description }}</i><br/>
    {{ obj.body }}</div>
  </div>
{% endautoescape %}

  </div>
{% endblock %}