{% load cms_tags cache %}
{% for child in children %}

{% if not child.parent.parent %}

<td valign="top"><table><tr><td  onClick="location.href='{{ child.get_absolute_url }}'" onMouseOver="change_bg_over({{forloop.counter}});" onMouseOut="change_bg_out()" class="transparent m {% if child.selected %}select{% else %}as_link{% endif %} {% if child.ancestor %}ancestor select{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
	<a href="{{ child.get_absolute_url }}">{% ifequal forloop.counter0 2 %}Диагностика и<br/>восстановительный ремонт{% else %}{{ child.get_menu_title }}{% endifequal %}</a>

</td></tr><tr>
    <td>

{% if child.childrens %}
<div class="podmenu">
  <ul>
	{% show_menu from_level to_level extra_inactive extra_active template child %}
  </ul>
</div>
{% endif %}
</td></tr></table></td>



{% else %}

<li class="{% if child.selected %}now{% endif %} {%if forloop.last %}end_li{%endif %}" onClick="location.href='{{ child.get_absolute_url }}'">
	<a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a>

</li>


{% endif %}

{% endfor %}

