<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %} {{ request.current_page.get_title }} {%endblock %}</title>


        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquerymin.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/java.js"></script>
        <link rel='stylesheet' type='text/css' href='{{ MEDIA_URL }}css/index.css'>
<script>
function slideSwitchPrev() {
    var $active = $('#slideshow div.active');
    var $next = $active.prev();    
    if ($next.html()==null){
	$next = $('#slideshow div:last');
	}

    $next.addClass('active');

    $active.removeClass('active');
}

function slideSwitch() {
    var $active = $('#slideshow div.active');
    var $next = $active.next();    
    if ($next.html()==null){
	$next = $('#slideshow div:first');
	}

    $next.addClass('active');

    $active.removeClass('active');
}

</script>


</head>

<body>

{% load cms_tags %}

        <!-- HEADER -->
            <div align="center">
                <div id="header">
                    <div class="endblock">&nbsp;</div>
					
						<div align="center">
{% block header_bg %}
<div class="header_center" style="background: url('{{ MEDIA_URL }}i/header_img_interior_ati_form.jpg') no-repeat bottom left;">
{% endblock %}
							
								<!-- 1PX -->

								<div class="prelat1p">
								
									<!-- LOGO -->
									<div id="logo"><a href="/"><img src="{{ MEDIA_URL }}/i/logo.jpg" width="224" height="82"></a></div>
							
									<!-- UGOLOK -->
									<div class="ugolok transparent">&nbsp;</div>
									
									<!-- ICOS -->
									<div class="icos">
										<a href="#"><img src="{{ MEDIA_URL }}/i/ico_home_v.gif" width="16" height="16"></a>
										<a href="#"><img src="{{ MEDIA_URL }}/i/ico_map.gif" width="16" height="16"></a>

										<a href="#"><img src="{{ MEDIA_URL }}/i/ico_mail.gif" width="16" height="16"></a>
									</div>
									
									<!-- LANGUAGES -->
									<div class="languages"><a class="now">Рус</a>|<a href="#">Eng</a>|<a href="#">Esp</a></div>
									
									<!-- PHONE -->
									{% autoescape off %}
									<div class="phone">{{ request.portal.phone }}</div>
									{% endautoescape %}
									
									<!-- SERACH POLE -->
									<div id="search_pole">
  <form action="/search/" method="GET" name="searchform" id="id_form_q">
  <input type="text" id="id_q" name="search" {% if request.search_string %} value="{{ request.search_string }}" {% else %} value="поиск" class="search-default" {% endif %} onClick="if(this.className=='search-default'){this.value='';this.className=''}"/>
  </form>
										<div class="prelat1p"><a href="javascript: $('#id_form_q').submit();"><img src="{{ MEDIA_URL }}/i/q_but.png" id="id_q_but" class="transparent q_but" width="22" height="15"></a></div>
									</div>
							
									<!-- DOP MENU -->
									<div id="dopmenu">

										<ul>
											<li><a href="/news/">Пресс-центр</a>|</li>
											<li><a href="/contact-info">Контактная информация</a></li>
										</ul>
									</div>
									<!-- /DOP MENU -->
							
								</div>

								<!-- /1PX -->
								
								
								<!-- MENU -->
								<div class="endblock">&nbsp;</div>
								{% block mainnav %}
								<div id="menu">
									<table>
										<tr>
											{% show_menu 1 2 %}
										</tr>
									</table>
								</div>
								{% endblock %}
								<!-- /MENU -->

								
							</div>
						</div>
					
					<div class="endblock">&nbsp;</div>
                </div>
            </div>
            
        <!-- CONTENT -->
        <div align="center">
            <div id="content">
<div class="prelat1p">
{% block crumbs %}
  {% if request.current_page.parent.parent %} <div id="crumbs"><a href="{{ request.current_page.parent.get_absolute_url }}"><i>{{ request.current_page.parent.get_title }}</i></a></div>{% endif %}
{% endblock %}
</div>
				<table class="w100">
					<tr>
						<td valign="top">
							<!-- COL CENTER -->
							<div class="col_center">
							
{% block content %}
  <div id="body">
  <h1 class="with_style">{{ request.current_page.get_title }}</h1>
	<div class="text">
  {% placeholder "content" %}
  </div></div>
  {% endblock %} 
</div></td>
{% block right_column_container %}

						<td valign="top" style="width:275px">
							<!-- COL RIGHT -->
							<div class="col_right">
  {% block right_column %}
								<!-- ATI SEARCH -->
								<div id="ati_search">
									<div class="endblock">&nbsp;</div>
										<div class="in">
											<div class="title_ash2">Поиск АТИ</div>
											
											<form method="get" action="/search/details/">
												<table>

													<tr>
														<td valign="top">
															<label for="id_param1">Введите наименование КИ</label>
															<input type="text" name="name" id="id_param1" class="pole_text">
														</td>
													</tr>
													<tr>
														<td valign="top">

															<label for="id_param2">Введите шифр КИ</label>
															<input type="text" name="cipher" id="id_param2" class="pole_text">
														</td>
													</tr>
													<tr>
														<td valign="top" align="right"><input type="image" src="{{ MEDIA_URL }}/i/ati_search_button.jpg"></td>
													</tr>
												</table>

										</form>
											
										</div>
								</div>
								<!-- /ATI SEARCH -->

								
								
								
								<div class="title_with_left_border">{{ request.portal.advertising_title }}</div>
								
	<div>

    {% autoescape off %}
    {{ request.portal.advertising_body }}
    {% endautoescape %}
    
  </div>
  {% endblock %}
								
							</div>
							<!-- /COL RIGHT -->

						</td>
{% endblock %}

					</tr>
				</table>
            </div>
        </div>
        
        <!-- FOOTER -->
        <div id="before_footer">&nbsp;</div>
        <div id="footer">
            <div align="center">

                <div class="footer1000">
                    
					<div class="prelat1p">
					
						<!-- FOOTER LOGO -->
						<div id="footer_logo"><img src="{{ MEDIA_URL }}/i/footer_logo.jpg"></div>
					
						<!-- FOOTER TEXT -->
<div id="footer_text">
  {% autoescape off %}
  {{ request.portal.footer }}
  {% endautoescape %}
</div>
						
					</div>
					
                </div>
            </div>
        </div>
    </body>
</html>
