<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>

<style>
#mainnav ul {
    display: inline;
	padding: 0;
    margin: 0;
}

#mainnav  ul li {
	padding: 0;
    margin: 15px;
    list-style: none;
    display: inline;
}
</style>
</head>

<body>

{% load cms_tags %}

<h1>hello</h1>
<div id="mainnav"><ul>{% show_menu 1 %}</ul></div>
<!-- <div id="breadcrumb">{% show_breadcrumb %}</div> -->
<!-- <div id="languagechooser">{% language_chooser %}</div> -->
<div id="content">{% block content %}{% placeholder "content" %}{% endblock %}</div>
<div id="right_column">{% placeholder "right_column" %}</div>

</body> </html>
