{% extends "base.html" %}
{% load cms_tags %}

{% block mainnav %}

								<div id="menu">
									<table>
										<tr>
											{% show_menu 1 1 %}
										</tr>
									</table>
								</div>
{% endblock %}

{% block crumbs %}

 <div id="crumbs"><a href="{% url device_index %}"><i>Список диагностируемого оборудования</i></a></div>

{% endblock %}

{% block title %}
{{ device.title }}
{% endblock %}

{% block content %}
<div id="body">
  <h1 class="with_style">{{ device.title }}</h1>

	<div class="text">
  
<ul>
  {% for b in blocks %}
  <li>{{ b }}</li>
  {% endfor %}
</ul>

	</div>

	<div><input type="button" onClick="location.href='{% url repair_order %}'" value="Подать заявку на диагностику" class="button_blue_big"></div>

</div>

{% endblock %}

{% block right_column %}
								<!-- ATI SEARCH -->
								<div id="ati_search">
									<div class="endblock">&nbsp;</div>
										<div class="in">

    <ul>
    {% for d in all %}
    <li><a href="{{ d.get_absolute_url }}">{{ d.title }}</a></li>
    {% endfor %}
		</div></div>
  
  </div>
								<div class="title_with_left_border">{{ request.portal.advertising_title }}</div>
								
	<div>

    {% autoescape off %}
    {{ request.portal.advertising_body }}
    {% endautoescape %}
    
  </div>
{% endblock %}
