{% extends "base.html" %}

{% load cms_tags %}

{% block content %}
<div id="body">
<h1 class="with_style">{{ request.current_page.get_title }}</h1>

  <script>
  
$(document).ready(function() { 
    $("#rent-table").tablesorter(); 
    $("#sort-name-link").click(function() {
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[1,0]]; 
        // sort on the first column 
        $("#rent-table").trigger("sorton",[sorting]); 
        // return false to stop default link action
        $("#sort-cipher-link").removeClass("active-sort-link")
        $("#sort-name-link").removeClass().addClass("active-sort-link")
        return false; 
    });
    $("#sort-cipher-link").click(function() { 
        // set sorting column and direction, this will sort on the first and third column the column index starts at zero 
        var sorting = [[2,0]]; 
        // sort on the first column 
        $("#rent-table").trigger("sorton",[sorting]); 
        // return false to stop default link action
        $("#sort-name-link").removeClass("active-sort-link")
        $("#sort-cipher-link").removeClass().addClass("active-sort-link")
        return false; 
  });

  
  if (location.hash) {
        var rx = { '#a': 0, '#zh': 1, '#m': 2, '#u': 3};
        n = rx[location.hash];
        $("#quick-links a").removeClass();
        $("#quick-links a:eq("+n+")").addClass("active-sort-link");
  } else {
        $("#quick-links a").removeClass();
        $("#quick-links a:eq(0)").addClass("active-sort-link");
  }
  
  $("#quick-links a").click(function() {
        $("#quick-links a").removeClass();
        $(this).addClass("active-sort-link");
        return true;
  });

});
</script>
  
	<div class="text">
										<p>Кроме хранящегося на складах компании оборудования, «ИФК Техник» предлагает к поставке любые блоки, агрегаты, узлы и механизмы для самолетов типа Ил-96, Ту-204, Ан-148 по специальному заказу.</p>
										<p>&nbsp;</p>
										<p>Если Вы не нашли необходимое изделие в предлагаемом списке, <a href="{% url ati_order %}">оставьте свой запрос</a> и мы свяжемся с Вами в самое ближайшее время.</p>

										<p>&nbsp;</p>
									<div class="endblock">&nbsp;</div>
								</div>
								
								<!-- FILTER -->
								<div id="filter">
									<table class="w100">
										<tr>
											<td valign="top" class="w100">
												<div class="sort">

													<p>Отсортировано: <a class="active-sort-link" id="sort-name-link" href="#">по названию КИ</a> <a href="#" id="sort-cipher-link">по шифру КИ</a></p>
													<p id="quick-links">Быстрый переход: <a href="?page={{ pages.a }}#a">А - Е</a> <a href="?page={{pages.zh}}#zh">Ж - Л</a> <a href="?page={{pages.m}}#m">М - Т</a> <a href="?page={{pages.u}}#u">У - Я</a></p>
												</div>

											</td>
											<td valign="top">
																			
												<!-- ATI SEARCH IN -->
												<div id="ati_search" style="width: 540px;">
													<div class="endblock">&nbsp;</div>
														<div class="in">
															
															<form method="post" action=".">
																<table>
																	<tr>

																		<td valign="top">
																			<label for="id_param1">Введите наименование КИ</label>
																		</td>
																		<td valign="top">
																			<label for="id_param2">Введите шифр КИ</label>
																		</td>
																		<td valign="top" align="right">&nbsp;</td>
																	</tr>

																	<tr>
																		<td valign="top">
																			<input type="text" name="name" id="id_param1" class="pole_text" style="width: 250px; margin-right: 14px;" value="{{ name }}">
																		</td>
																		<td valign="top">
																			<input type="text" name="cipher" id="id_param2" class="pole_text" style="width: 148px; margin-right: 14px;" value="{{ cipher }}">
																		</td>
																		<td valign="top" align="right"><input type="image" src="{{ MEDIA_URL}}i/ati_search_button.jpg"></td>
																	</tr>

																</table>
															</form>
															
														</div>
												</div>
												<!-- /ATI SEARCH IN -->
											
											</td>
										</tr>
									</table>
								</div>

								{% load quick_link %}
								<div id="list_table">
									<table class="w100" id="rent-table">
										<thead>
											<th valign="top" class="th">Код системы</th>
											<th valign="top" class="th">Наименование КИ</th>
											<th valign="top" class="th">ШИФР КИ</th>
											<th valign="top" class="th">Чертежный номер</th>

											<th valign="top" class="th end_th">Версия ПО</th>
										</thead>
										{% for i in lst.object_list %}
										<tr>
											<td valign="top" class="td">{% ifchanged i.menu_anchor %}
											  <a name="{{ i.menu_anchor %}"></a>
											  {% endifchanged %}{{ i.code }} </td>
											<td valign="top" class="td">{{ i.name }}</td>
											<td valign="top" class="td">{{ i.cipher }}</td>
											<td valign="top" class="td">{{ i.draw_number|default:"-" }}</td>

											<td valign="top" class="td">{{ i.soft_version|default:"-" }}</td>
										</tr>
										{% empty %}
										<tr>
											<td valign="top" class="td" colspan="5">К сожалению, ничего не найдено. Измените условия поиска и попробуйте снова.</td>
										</tr>
										{% endfor %}
									</table>
									<div class="pagination">
        {% if lst.has_previous %}
            <a class="prev-link" href="?page={{ lst.previous_page_number }}"><< Назад</a>
        {% endif %}

        {% if lst.has_next %}
            <a class="next-link" href="?page={{ lst.next_page_number }}">Далее >></a>
        {% endif %}
    </span>
</div>

{% autoescape off %}
<br/><i>За более подробной информацией обращайтесь в наш офис: + 7 {{ request.portal.phone }}, <a href="mailto:info@ifc-technik.ru">info@ifc-technik.ru</a></i>
{% endautoescape %}

</div>
  
</div>
</div>

{% endblock %}

{% block right_column_container %}

{% endblock %}
